@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Categoria.Details

<h1>Detalhes do Garçom: @Model.CategoriaModel.Nome</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <p><strong>Nome: </strong> @Model.CategoriaModel.Nome </p>
    <p><strong>Descrição: </strong> @Model.CategoriaModel.Descricao </p>
    <a class="btn btn-sm btn-secondary active" asp-page="./Edit" asp-route-id="@Model.CategoriaModel.CategoriaId"> <i class="fa fa-pencil"></i>  </a>
    <a class="btn btn-secondary btn-sm btn-danger" asp-page="./Delete" asp-route-id="@Model.CategoriaModel.CategoriaId"> <i class="fa fa-trash"></i> </a>
</div>

<a asp-page="Index"> Voltar</a>